HuzaifaPortfolio.slnx
HuzaifaPortfolio/appsettings.Development.json
HuzaifaPortfolio/appsettings.json
HuzaifaPortfolio/Controllers/HomeController.cs
HuzaifaPortfolio/HuzaifaPortfolio.csproj
HuzaifaPortfolio/Models/ErrorViewModel.cs
HuzaifaPortfolio/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.AssemblyInfo.cs
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.AssemblyInfoInputs.cache
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.assets.cache
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.GeneratedMSBuildEditorConfig.editorconfig
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.GlobalUsings.g.cs
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.RazorAssemblyInfo.cache
HuzaifaPortfolio/obj/Debug/net10.0/HuzaifaPortfolio.RazorAssemblyInfo.cs
HuzaifaPortfolio/obj/HuzaifaPortfolio.csproj.nuget.dgspec.json
HuzaifaPortfolio/obj/HuzaifaPortfolio.csproj.nuget.g.props
HuzaifaPortfolio/obj/HuzaifaPortfolio.csproj.nuget.g.targets
HuzaifaPortfolio/obj/project.assets.json
HuzaifaPortfolio/obj/project.nuget.cache
HuzaifaPortfolio/Program.cs
HuzaifaPortfolio/Properties/launchSettings.json
HuzaifaPortfolio/Views/_ViewImports.cshtml
HuzaifaPortfolio/Views/_ViewStart.cshtml
HuzaifaPortfolio/Views/Home/Index.cshtml
HuzaifaPortfolio/Views/Home/Privacy.cshtml
HuzaifaPortfolio/Views/Shared/_Layout.cshtml
HuzaifaPortfolio/Views/Shared/_Layout.cshtml.css
HuzaifaPortfolio/Views/Shared/_ValidationScriptsPartial.cshtml
HuzaifaPortfolio/Views/Shared/Error.cshtml
HuzaifaPortfolio/wwwroot/css/site.css
HuzaifaPortfolio/wwwroot/favicon.ico
HuzaifaPortfolio/wwwroot/js/site.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
HuzaifaPortfolio/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
HuzaifaPortfolio/wwwroot/lib/bootstrap/LICENSE
HuzaifaPortfolio/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
HuzaifaPortfolio/wwwroot/lib/jquery-validation/dist/additional-methods.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation/dist/jquery.validate.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
HuzaifaPortfolio/wwwroot/lib/jquery-validation/LICENSE.md
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.js
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.min.js
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.min.map
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.slim.js
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.slim.min.js
HuzaifaPortfolio/wwwroot/lib/jquery/dist/jquery.slim.min.map
HuzaifaPortfolio/wwwroot/lib/jquery/LICENSE.txt
